@import "../../../styles/main.scss";

section {
  &:first-of-type {
    border-bottom: 1px solid $grey-200;
  }

  div {
    width: 100%;
    padding: 48px;
    @include center;
    justify-content: flex-start;
    span {
      width: 50%;
      h3 {
        @include text-bold;
        margin-bottom: 6px;
      }
      p {
        @include text-light;
        margin-bottom: 20px;
        max-width: 200px;
      }
    }
  }
}

div.upper {
  span {
    button {
      @include button($white, $orange-400);
      gap: 8px;
    }
  }
  span:last-of-type {
    @include img-container(120px);
    background: $orange-100;
    img {
      @include image;
    }
  }
}

div.lower {
  span {
    button {
      @include button($orange-400, $white);
      &:disabled {
        @include button($grey-300, $white, $grey-300);
        cursor: not-allowed;
      }
    }
  }
  span:last-of-type {
    form {
      label {
        display: block;
        @include text-light(1rem, $grey-900);
        font-weight: 500;
      }
      input {
        @include input;
        &:disabled {
          @include input($grey-100, $grey-400);
        }
      }
    }
  }
}
