/* 
 * FONTS
*/

$font-main: Inter;

/* 
 * COLORS
*/
//grey
$grey-900: #101928;
$grey-800: #1d2739;
$grey-700: #344054;
$grey-500: #667185;
$grey-400: #98a2b3;
$grey-300: #d0d5dd;
$grey-250: #f9fafb;
$grey-200: #e4e7ec;
$grey-100: #f0f2f5;

//slate
$slate-500: #5e718d;

//blue
$blue-500: #0d5eba;

//orange
$orange-400: #f56630;
$orange-200: #fa9874;
$orange-100: #ffece5;

//white
$white: #ffffff;

//black
$black: #000000;
