<div class="backdrop" (click)="close()">
  <div class="modal" (click)="$event.stopPropagation()">
    <header>
      <h1>Invite users</h1>
      <img
        (click)="close()"
        class="cursor-pointer"
        src="assets/Admin/close.svg"
        alt=""
      />
    </header>
    <form [formGroup]="form" (submit)="handleSubmit()">
      <label for="email">Link</label>
      <input
        type="text"
        id="email"
        placeholder="Enter email address"
        formControlName="email"
      />
      @if (validationErrors) {
      <p class="text-red-500">{{ validationErrors }}</p>
      }
      <div class="flex justify-end">
        <span class="flex gap-2">
          <button type="button" (click)="close()">Cancel</button>
          <button type="submit" [disabled]="signal().pending">Send</button>
        </span>
      </div>
    </form>
  </div>
</div>
