<section>
  <header class="overflow-visible">
    <h1>Explore templates</h1>
    <span class="flex gap-2 relative overflow-visible">
      <button
        (click)="filterDropdown = !filterDropdown; $event.stopPropagation()"
      >
        <img src="assets/Admin/adjust.svg" alt="" />
        Filter
        <img src="assets/Admin/arrow-down.svg" alt="" />
      </button>
      <div class="input" #search>
        <img src="assets/Admin/search.svg" alt="search" />
        <input
          class="outline-none"
          type="search"
          [(ngModel)]="query"
          placeholder="Search..."
          (focus)="search.classList.toggle('focus')"
          (blur)="search.classList.toggle('focus')"
        />
      </div>
      <ul
        [class]="{
          dropdown: true,
          'overflow-hidden': true,
          show: filterDropdown
        }"
        (clickOutside)="filterDropdown = false"
      >
        <li>Date</li>
        <li>Type</li>
      </ul>
      <button>Create Template</button>
    </span>
  </header>
  <nav class="overflow-hidden">
    <p
      [class]="{ inline: true, active: tab === 'all' }"
      (click)="tab = 'all'"
    >
      All
    </p>
    <p
      [class]="{ inline: true, active: tab === 'deactivated' }"
      (click)="tab = 'deactivated'"
    >
      Deactivated
    </p>
  </nav>
    @if (templatesSignal().pending) {
        <div>Loading.....</div>
    } @else if (templatesSignal().data) {
        <app-admin-templates-list 
            [templates]="templatesSignal().data!" 
        />
    } @else {
        <div>{{templatesSignal().error.message}}</div>
    }
    <div class="flex justify-end">
        <app-admin-pagination 
            [currentPage]="paginationParams().currentPage" 
            [totalPages]="totalPages()" 
            (pageChange)="pageChange($event)"
        />
    </div>
</section>
