<div class="w-screen">
  <div class="flex-1">
    <!-- ... -->
    <div class="2xl:w-[70%] lg:w-[90%] mx-auto">
      <header>
        <div
          class="flex items-center justify-between h-[52px] w-[300px] pr-[40px]"
        >
          <button routerLink="/user/home" class="text-[16px] font-semibold">
            Home
          </button>
          <img
            src="../../../../../../../assets/SurveyCreation/Survey_from_scratch_layout/layout_forward_arrow.svg"
            alt="layout forward arrow"
          />
          <button
            class="text-[16px] font-semibold"
            (click)="handlePreviewStatus()"
          >
            Survey
          </button>
          <img
            src="../../../../../../../assets/SurveyCreation/Survey_from_scratch_layout/layout_forward_arrow.svg"
            alt="layout forward arrow"
          />
          <button
            class="text-[16px] font-semibold text-[#EB5017]"
            (click)="handlePreviewStatus()"
          >
            Preview
          </button>
        </div>
      </header>

      <!-- content -->

      <div class="w-[75%] mx-auto mt-[16px] flex flex-col gap-y-[24px]">
        <div
          class="w-full pb-[10px] flex items-center"
          [style.justifyContent]="form.logo.style.alignment"
        >
          <div
            class="block-div mt-4 w-[220px] h-[150px] flex items-center justify-center rounded-md object-contain overflow-hidden relative p-0 border border-[#E4E7EC] bg-white"
          >
            <img src="{{ form.logo.url }}" alt="upload_logo" />
          </div>
        </div>

        <div class="block-div bg-white px-[32px] py-[48px] rounded-[16px]">
          <h1
            [style.fontSize]="form.title.title.style.fontSize"
            [style.fontFamily]="form.title.title.style.fontFamily"
            [style.fontStyle]="
              form.title.title.style.italic ? 'italic' : 'normal'
            "
            [style.fontWeight]="
              form.title.title.style.bold ? 'bold ' : 'normal'
            "
            [style.textDecoration]="
              form.title.title.style.underline ? 'underline' : 'normal'
            "
            class="text-[26px]"
          >
            {{ form.title.title.titleName }}
          </h1>
          <p
            [style.fontSize]="form.title.description.style.fontSize"
            [style.fontFamily]="form.title.description.style.fontFamily"
            [style.fontStyle]="
              form.title.description.style.italic ? 'italic' : 'normal'
            "
            [style.fontWeight]="
              form.title.description.style.bold ? 'bold ' : 'normal'
            "
            [style.textDecoration]="
              form.title.description.style.underline ? 'underline' : 'normal'
            "
            class="text-[16px] text-[#98A2B3]"
          >
            {{
              form.title.description.detail
                ? form.title.description.detail
                : "description"
            }}
          </p>
        </div>

        @for (block of form.blocks; track $index) { @if ($index ===
        conditionBlock) {

        <!-- Logic Check -->
        <div class="block-div bg-white px-[32px] py-[48px] rounded-[16px]">
          <header class="mb-[24px]">
            <h1
              class="text-[20px]"
              [style.fontSize]="block.title.style.fontSize"
              [style.fontFamily]="block.title.style.fontFamily"
              [style.fontStyle]="block.title.style.italic ? 'italic' : 'normal'"
              [style.fontWeight]="block.title.style.bold ? 'bold ' : 'normal'"
              [style.textDecoration]="
                block.title.style.underline ? 'underline' : 'normal'
              "
            >
              {{ block.title.detail }}
            </h1>
          </header>
          <!-- questions div -->
          <div class="flex flex-col gap-y-[24px]">
            @for (questions of block.questions; track $index) { @if($index ===
            conditionQuestion){
            <!-- Question Check -->

            @if (blockQuestionVisible ) {
            <div>
              <!-- Questions -->
              <h3
                class="text-[18px] font-[400] flex items-center"
                [style.fontSize]="questions.title.style.fontSize"
                [style.fontFamily]="questions.title.style.fontFamily"
                [style.fontStyle]="
                  questions.title.style.italic ? 'italic' : 'normal'
                "
                [style.fontWeight]="
                  questions.title.style.bold ? 'bold ' : 'normal'
                "
                [style.textDecoration]="
                  questions.title.style.underline ? 'underline' : 'normal'
                "
              >
                {{ questions.title.question }}
                @if (questions.required) {
                <img
                  src="assets/SurveyCreation/Creation-space/questions-creation-space/survey-preview/asterisk.svg"
                  alt="asterisk icon"
                />
                }
              </h3>
              @switch (questions.type) {
              <!-- Cases -->
              @case ('multiple-choice') { @for (option of questions.options;
              track $index) {
              <div class="mcq">
                <label for="{{ option }}{{ $index }}">{{ option }}</label>
                <input
                  type="checkbox"
                  id="{{ option }}{{ $index }}"
                  name="option"
                  [value]="option"
                />
              </div>
              } } @case ('single-choice') {
              <div
                *ngFor="let option of questions.options; let index = index"
                class="question"
              >
                <label
                  [id]="'option_' + index"
                  class="multiple-choice-option flex gap-x-[4px]"
                  (click)="handleOptionClick(option)"
                >
                  <input
                    type="radio"
                    name="{{ questions.title.question }}"
                    [id]="'option_' + index"
                    [value]="option"
                    [required]="questions.required"
                  />
                  @if (option === 'other') {
                  <input
                    type="text"
                    placeholder="Other"
                    class="other-style"
                    [required]="questions.required"
                  />
                  }@else {
                  {{ option }}
                  }
                </label>
              </div>

              } @case ('checkbox') {
              <div class="question">
                <div class="felx items-center gap-y-[4px] mt-4">
                  <input
                    type="checkbox"
                    name="{{ questions.option }}"
                    id="{{ questions.option }}"
                    class="mr-2"
                    [required]="questions.required"
                  />
                  <label for="{{ questions.option }}">{{
                    questions.option
                  }}</label>
                </div>
              </div>
              } @case ('dropdown') {

              <span
                (click)="toggleMenu()"
                [class]="{ required: questions.required }"
                class="mt-4 flex items-center justify-between gap-x-[10px] p-[10px] border border-[#d0d5dd] cursor-pointer w-fit rounded-[8px] min-w-[230px]"
              >
                {{ selectedItem ? selectedItem : "Pick an Option" }}

                <img
                  src="assets/SurveyCreation/Creation-space/questions-creation-space/question_block/arrow-down.svg"
                  alt="arrow down"
                />
              </span>
              @if (isMenuOpen) {
              <ul
                class="bg-gray-50 p-[10px] list-none w-fit rounded-[8px] min-w-[230px]"
              >
                @for (dropOption of questions.options; track $index) {

                <li
                  (click)="handleSeletion(dropOption)"
                  class="text-gray-700 hover:text-black px-[6px] py-[8px] cursor-pointer"
                >
                  {{ dropOption }}
                </li>
                }
              </ul>
              } }@case('short-text'){
              <input
                type="text"
                placeholder="short-text"
                class="question border-b border-b-[#d0d5dd] w-[30%] outline-none p-[8px] mt-4"
              />
              } @case('paragraph'){
              <textarea
                name=""
                id=""
                cols="30"
                rows="5"
                placeholder="Paragraph"
                class="question border border-[#d0d5dd] w-full outline-none resize-none p-[5px] mt-4"
              ></textarea>
              }

              <!-- switch end -->
              }
            </div>
            }

            <!-- End Question Check -->
            }@else {
            <div>
              <!-- Questions -->
              <h3
                class="text-[18px] font-[400] flex items-center"
                [style.fontSize]="questions.title.style.fontSize"
                [style.fontFamily]="questions.title.style.fontFamily"
                [style.fontStyle]="
                  questions.title.style.italic ? 'italic' : 'normal'
                "
                [style.fontWeight]="
                  questions.title.style.bold ? 'bold ' : 'normal'
                "
                [style.textDecoration]="
                  questions.title.style.underline ? 'underline' : 'normal'
                "
              >
                {{ questions.title.question }}
                @if (questions.required) {
                <img
                  src="assets/SurveyCreation/Creation-space/questions-creation-space/survey-preview/asterisk.svg"
                  alt="asterisk icon"
                />
                }
              </h3>
              @switch (questions.type) {
              <!-- Cases -->
              @case ('multiple-choice') { @for (option of questions.options;
              track $index) {
              <div class="mcq">
                <label for="{{ option }}{{ $index }}">{{ option }}</label>
                <input
                  type="checkbox"
                  id="{{ option }}{{ $index }}"
                  name="option"
                  [value]="option"
                />
              </div>
              } } @case ('single-choice') {
              <div
                *ngFor="let option of questions.options; let index = index"
                class="question"
              >
                <label
                  [id]="'option_' + index"
                  class="multiple-choice-option flex gap-x-[4px]"
                  (click)="handleOptionClick(option)"
                >
                  <input
                    type="radio"
                    name="{{ questions.title.question }}"
                    [id]="'option_' + index"
                    [value]="option"
                    [required]="questions.required"
                  />
                  @if (option === 'other') {
                  <input
                    type="text"
                    placeholder="Other"
                    class="other-style"
                    [required]="questions.required"
                  />
                  }@else {
                  {{ option }}
                  }
                </label>
              </div>

              } @case ('checkbox') {
              <div class="question">
                <div class="felx items-center gap-y-[4px] mt-4">
                  <input
                    type="checkbox"
                    name="{{ questions.option }}"
                    id="{{ questions.option }}"
                    class="mr-2"
                    [required]="questions.required"
                  />
                  <label for="{{ questions.option }}">{{
                    questions.option
                  }}</label>
                </div>
              </div>
              } @case ('dropdown') {

              <span
                (click)="toggleMenu()"
                [class]="{ required: questions.required }"
                class="mt-4 flex items-center justify-between gap-x-[10px] p-[10px] border border-[#d0d5dd] cursor-pointer w-fit rounded-[8px] min-w-[230px]"
              >
                {{ selectedItem ? selectedItem : "Pick an Option" }}

                <img
                  src="assets/SurveyCreation/Creation-space/questions-creation-space/question_block/arrow-down.svg"
                  alt="arrow down"
                />
              </span>
              @if (isMenuOpen) {
              <ul
                class="bg-gray-50 p-[10px] list-none w-fit rounded-[8px] min-w-[230px]"
              >
                @for (dropOption of questions.options; track $index) {

                <li
                  (click)="handleSeletion(dropOption)"
                  class="text-gray-700 hover:text-black px-[6px] py-[8px] cursor-pointer"
                >
                  {{ dropOption }}
                </li>
                }
              </ul>
              } }@case('short-text'){
              <input
                type="text"
                placeholder="short-text"
                class="question border-b border-b-[#d0d5dd] w-[30%] outline-none p-[8px] mt-4"
              />
              } @case('paragraph'){
              <textarea
                name=""
                id=""
                cols="30"
                rows="5"
                placeholder="Paragraph"
                class="question border border-[#d0d5dd] w-full outline-none resize-none p-[5px] mt-4"
              ></textarea>
              }

              <!-- switch end -->
              }
            </div>
            } }
          </div>
        </div>

        <!-- End Logic Check -->
        } @else {

        <!-- Normal Follow -->

        <div class="block-div bg-white px-[32px] py-[48px] rounded-[16px]">
          <header class="mb-[24px]">
            <h1
              class="text-[20px]"
              [style.fontSize]="block.title.style.fontSize"
              [style.fontFamily]="block.title.style.fontFamily"
              [style.fontStyle]="block.title.style.italic ? 'italic' : 'normal'"
              [style.fontWeight]="block.title.style.bold ? 'bold ' : 'normal'"
              [style.textDecoration]="
                block.title.style.underline ? 'underline' : 'normal'
              "
            >
              {{ block.title.detail }}
            </h1>
          </header>
          <!-- questions div -->
          <div class="flex flex-col gap-y-[24px]">
            @for (questions of block.questions; track $index) {

            <div>
              <!-- Questions -->
              <h3
                class="text-[18px] font-[400] flex items-center"
                [style.fontSize]="questions.title.style.fontSize"
                [style.fontFamily]="questions.title.style.fontFamily"
                [style.fontStyle]="
                  questions.title.style.italic ? 'italic' : 'normal'
                "
                [style.fontWeight]="
                  questions.title.style.bold ? 'bold ' : 'normal'
                "
                [style.textDecoration]="
                  questions.title.style.underline ? 'underline' : 'normal'
                "
              >
                {{ questions.title.question }}
                @if (questions.required) {
                <img
                  src="assets/SurveyCreation/Creation-space/questions-creation-space/survey-preview/asterisk.svg"
                  alt="asterisk icon"
                />
                }
              </h3>
              @switch (questions.type) {
              <!-- Cases -->
              @case ('multiple-choice') { @for (option of questions.options;
              track $index) {
              <div class="mcq">
                <label for="{{ option }}{{ $index }}">{{ option }}</label>
                <input
                  type="checkbox"
                  id="{{ option }}{{ $index }}"
                  name="option"
                  [value]="option"
                />
              </div>
              } } @case ('single-choice') {
              <div
                *ngFor="let option of questions.options; let index = index"
                class="question"
              >
                <label
                  [id]="'option_' + index"
                  class="multiple-choice-option flex gap-x-[4px]"
                  (click)="handleOptionClick(option)"
                >
                  <input
                    type="radio"
                    name="{{ questions.title.question }}"
                    [id]="'option_' + index"
                    [value]="option"
                    [required]="questions.required"
                  />
                  @if (option === 'other') {
                  <input
                    type="text"
                    placeholder="Other"
                    class="other-style"
                    [required]="questions.required"
                  />
                  }@else {
                  {{ option }}
                  }
                </label>
              </div>

              } @case ('checkbox') {
              <div class="question">
                <div class="felx items-center gap-y-[4px] mt-4">
                  <input
                    type="checkbox"
                    name="{{ questions.option }}"
                    id="{{ questions.option }}"
                    class="mr-2"
                    [required]="questions.required"
                  />
                  <label for="{{ questions.option }}">{{
                    questions.option
                  }}</label>
                </div>
              </div>
              } @case ('dropdown') {

              <span
                (click)="toggleMenu()"
                [class]="{ required: questions.required }"
                class="mt-4 flex items-center justify-between gap-x-[10px] p-[10px] border border-[#d0d5dd] cursor-pointer w-fit rounded-[8px] min-w-[230px]"
              >
                {{ selectedItem ? selectedItem : "Pick an Option" }}

                <img
                  src="assets/SurveyCreation/Creation-space/questions-creation-space/question_block/arrow-down.svg"
                  alt="arrow down"
                />
              </span>
              @if (isMenuOpen) {
              <ul
                class="bg-gray-50 p-[10px] list-none w-fit rounded-[8px] min-w-[230px]"
              >
                @for (dropOption of questions.options; track $index) {

                <li
                  (click)="handleSeletion(dropOption)"
                  class="text-gray-700 hover:text-black px-[6px] py-[8px] cursor-pointer"
                >
                  {{ dropOption }}
                </li>
                }
              </ul>
              } }@case('short-text'){
              <input
                type="text"
                placeholder="short-text"
                class="question border-b border-b-[#d0d5dd] w-[30%] outline-none p-[8px] mt-4"
              />
              } @case('paragraph'){
              <textarea
                name=""
                id=""
                cols="30"
                rows="5"
                placeholder="Paragraph"
                class="question border border-[#d0d5dd] w-full outline-none resize-none p-[5px] mt-4"
              ></textarea>
              }

              <!-- switch end -->
              }
            </div>
            }
          </div>
        </div>
        <!-- End Normal follow -->
        } }
      </div>
      <!-- end content -->

      <footer
        class="w-full items-center justify-center flex flex-col mt-[30px]"
      >
        <div class="flex flex-col items-center gap-y-[8px]">
          <h4>Powered by</h4>
          <img
            src="assets/SurveyCreation/Creation-space/questions-creation-space/survey-preview/brand-logo.svg"
            alt="brand-logo"
          />
        </div>
      </footer>
    </div>
  </div>
</div>

<!-- 

    @if (isConditionalBtn) {
    <app-conditional-questions
      [option]="option"
      [blockIndex]="blockIndex"
    ></app-conditional-questions>
    }
 -->
