<section (dblclick)="onEditTitle($event)" (clickOutside)="handelOutsideClick()">
    <div>
        @if(!editTitle){
        <h1 [class]="titleStyle">
            {{title.title.detail}}
        </h1>
        <input [class]="descriptionStyle" type="text" placeholder="Survey description"
            [value]="title.description.detail">
        }
        @if(editTitle){
        <!-- Input for title -->
        <input type="text" [class]="titleStyle" [(ngModel)]="title.title.detail" (keydown)="onEditTitle($event)"
            (dblclick)="onEditTitle($event)" />

        <!-- ICONS -->
        <div class="text-styles">
            <label for="bold">
                <input id="bold" type="checkbox" [(ngModel)]="title.title.style.bold">
                <bold-icon [checked]="title.title.style.bold"></bold-icon>
            </label>
            <label for="italic">
                <input id="italic" type="checkbox" [(ngModel)]="title.title.style.italic">
                <italic-icon [checked]="title.title.style.italic"></italic-icon>
            </label>
            <label for="large">
                <input type="checkbox" id="large" [(ngModel)]="title.title.style.large">
                <large-icon [checked]="title.title.style.large"></large-icon>
            </label>
        </div>

        <!-- Input for description -->

        <input id="desc" type="text" placeholder="Survey description" [class]="descriptionStyle"
            [(ngModel)]="title.description.detail">

        <!-- ICONS -->
        <div class="text-styles">
            <label for="desc-bold">
                <input id="desc-bold" type="checkbox" [(ngModel)]="title.description.style.bold">
                <bold-icon [checked]="title.description.style.bold"></bold-icon>
            </label>
            <label for="desc-italic">
                <input id="desc-italic" type="checkbox" [(ngModel)]="title.description.style.italic">
                <italic-icon [checked]="title.description.style.italic"></italic-icon>
            </label>
            <label for="desc-large">
                <input type="checkbox" id="desc-large" [(ngModel)]="title.description.style.large">
                <large-icon [checked]="title.description.style.large"></large-icon>
            </label>
        </div>
        }
    </div>
</section>