<section>
  <div>
    <span>
      <h3>Update Password</h3>
      <p>Enter your current password to make update</p>
      <button>Save Changes</button>
    </span>
    <span>
      <form>
        <span class="relative">
          <label for="current-password"> Current Password </label>
          <input
            id="current-password"
            class="mb-4"
            type="text"
            formControlName="email"
          />
          <img src="assets/Admin/lock.svg" alt="" />
        </span>
        <span class="relative">
          <label for="new-password"> New Password </label>
          <input id="new-password" type="text" formControlName="email" />
          <img src="assets/Admin/lock.svg" alt="" />
        </span>
      </form>
    </span>
  </div>
</section>
