<div
  class="mt-[25px] flex flex-col items-center justify-center gap-y-[67px] w-full p-[48px]"
>
  <div class="flex items-start justify-between gap-x-[56px] w-full">
    <div class="flex flex-col w-[305px] gap-y-[20px]">
      <div class="flex flex-col gap-y-[8px]">
        <h4 class="text-[20px] font-[600] text-[#101928]">Update Password</h4>
        <p class="mt-[6px] text-[#667185] text-[16px] font-[400]">
          Enter your current password to make update
        </p>
      </div>
      <button [disabled]="!form.valid" (click)="button.click()">
        Save Changes
      </button>
    </div>
    <div class="flex-1">
      <form
        class="flex flex-col gap-y-[24px]"
        [formGroup]="form"
        (submit)="handleSubmit()"
      >
        <div class="flex flex-col gap-y-[4px]">
          <label>New Password</label>
          <div
            class="flex items-center gap-x-[8px] w-full border border-[#D0D5DD] p-[16px] rounded-[6px] border-default"
          >
            <img src="assets/Admin/lock.svg" alt="password icon" />
            <input
              type="password"
              placeholder="Enter Password"
              class="w-full bg-transparent outline-none"
              formControlName="password"
            />
          </div>
        </div>
        <div class="flex flex-col gap-y-[4px]">
          <label>Confirm Password</label>
          <div
            class="flex items-center gap-x-[8px] w-full border border-[#D0D5DD] p-[16px] rounded-[6px] border-default"
          >
            <img src="assets/Admin/lock.svg" alt="password icon" />
            <input
              type="password"
              placeholder="Enter Password"
              class="w-full bg-transparent outline-none"
              formControlName="confirmPassword"
            />
          </div>
        </div>
        <button class="hidden" #button title="submit" type="submit"></button>
      </form>
    </div>
  </div>
</div>
