@import "../../../styles/main.scss";

button {
  @include button($orange-400, $white);
  width: 129px;
  overflow: hidden;
  &:disabled {
    @include button($grey-300, $white, $grey-300);
    cursor: not-allowed;
  }
}

.hidden {
  display: none !important;
}
