section {
  padding: 16px 32px;
  border-radius: 16px;
  border: 0.5px solid var(--Grey-100, #f0f2f5);
  background: #fff;
  box-shadow: 0px 2px 4px -1px rgba(16, 25, 40, 0.02),
    0px 5px 13px -5px rgba(16, 25, 40, 0.05);
  margin-bottom: 30px;
  -webkit-user-select: none;
  user-select: none;
}

.title {
  font-size: 1.15rem;
  font-weight: 400;
  color: #101928;
  display: block;
  margin-bottom: 2px;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
  width: 100%;
}

input.title,
input.title:focus {
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid #101928;
  outline: none;
}

input#desc,
input.desc,
input#desc:focus {
  font-size: 1rem;
  border: none;
  padding-bottom: 5px;
  border-bottom: 1px solid #e4e7ec;
  display: block;
  outline: none;
  width: 100%;
}

input.desc {
  margin-top: 10px;
  &:disabled {
    background: #fff;
  }
}

.text-styles {
  label {
    position: relative;

    #bold,
    #italic,
    #underline,
    #desc-bold,
    #desc-italic,
    #desc-underline {
      appearance: none;
      display: inline-block;
      width: 32px;
      height: 32px;
      position: relative;

      + svg {
        position: absolute;
        left: 0;
      }

      &:checked + svg > path {
        fill: #101928;
      }
    }
  }
}

/**** Styling for text appearanc ****/
.text-bold {
  font-size: 1.5rem;
  font-weight: 600;
}
.text-italic {
  font-style: italic;
}
