<section>
    <div>
        @if(!editTitle){
        <h1 (dblclick)="onEditTitle($event)">
            {{title.title.detail}}
        </h1>
        }
        @if(editTitle){
        <input type="text" class="title" [(ngModel)]="title.title.detail" (keydown)="onEditTitle($event)"
            (clickOutside)="handelOutsideClick()" (dblclick)="onEditTitle($event)" />
        }
        <input id="desc" type="text" placeholder="Survey description"
            class="border-b-2 border-b-[#F0F2F5] bg-transparent w-full mt-[24px] py-[6px] outline-none"
            [(ngModel)]="title.description.detail">
    </div>
</section>