@import "../../../styles/main.scss";

.backdrop {
  @include backdrop;
}

.modal {
  @include modal;
  width: 500px;

  header {
    @include center;
    justify-content: space-between;
    margin-bottom: 16px;
    h1 {
      @include text-bold(1.75rem, $grey-900, 700);
    }
  }

  form {
    label {
      @include text-bold;
      display: block;
      margin-bottom: 16px;
    }
    input {
      @include input;
      padding: 8px 12px;
      margin-bottom: 32px;
    }

    button {
      @include button;

      &:first-of-type {
        @include button($white, $grey-900, $grey-300);
      }
    }
  }
}
