@import "../../../styles/main.scss";

section {
  border: 1px solid $grey-300;
  border-radius: 10px;
}

table {
  background: $white;
  border-collapse: collapse;
  width: 100%;
  position: relative;
  border-radius: 10px 10px 0 0;

  thead {
    text-align: left;
    border-radius: 10px 10px 0 0;

    header {
      padding: 16px;
      border-radius: 10px 10px 0 0;

      .input {
        @include input;
        padding: 8px 12px;
        width: auto;
        @include center;
        justify-content: space-between;
        gap: 4px;
        border-width: 1.5px;
        &.focus {
          outline: none;
          border: 1.5px solid $orange-200;
        }
      }
      button {
        @include button($white, $grey-700, $grey-300);
        gap: 8px;
        font-weight: bold;
      }
    }
  }

  th,
  td {
    padding: 12px 24px;
  }

  th {
    @include text-bold(1rem, $grey-700, 500);
    flex: 1;
  }

  tr {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
  }

  td {
    button {
      @include button($white, $black, $grey-300);
      padding: 8px;
      border-radius: 8px;
    }
  }
}

.img-container {
  @include img-container(42px);
  background: $orange-100;
  @include center;
  font-weight: 600;
  border: 2px solid $white;
  img {
    @include img;
  }
}

.row {
  border-top: 1px solid $grey-300;
  border-bottom: 1px solid $grey-300;
  border-collapse: collapse;
  border-left: 2px solid transparent;

  &:hover {
    cursor: pointer;
    background: $orange-100;
    border-left: 2px solid $orange-400;
  }
}

.dropdown {
  @include dropdown;
}

footer {
  button {
    @include button($white, $black, $grey-300);
    padding-left: 12px;
    padding-right: 12px;
  }
}
