*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-width: 100%;
  min-height: 100vh;
  font-family: Inter, sans-serif;
  padding: 10%;
  -webkit-user-select: none;
  user-select: none;
}

.page > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 1rem;
  padding: 8px 12px;
  background: #fff;
  border: 1px solid #f77a4a;
  color: #f77a4a;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

p {
  font-size: 1rem;
  color: #1671d9;
  margin-bottom: 20px;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}


// ..................................


