<app-title [title]="title"></app-title>
<div (click)="addSection()">Add section</div>
<div (click)="addEmail()">Add email</div>
<div (click)="addMultiSelect()">Add multi select</div>
@for (section of sections; track $index) {
<app-section [section]="section">
    @for (question of section.questions; track $index) {
    @switch(typeOfQuestion(question)[0]) {
    @case ("email") {
    <app-email [email]="typeOfQuestion(question)[1]"></app-email>
    }
    @case ("multi-select"){
    <app-multiple-select [select]="typeOfQuestion(question)[1]"></app-multiple-select>
    }
    }
    }
</app-section>
}
<button type="submit" (click)="addForm()">Create form</button>
<app-email-emitter></app-email-emitter>

<textarea value="text here"></textarea>