<div class="page">
  <header>
    <p>Home</p>
    <img src="assets/arrow-right.svg" alt="">
    <p
      (click)="showBuilderPage = true"
      [class]="{active: showBuilderPage}"
    >Survey</p>
    <img src="assets/arrow-right.svg" alt="">
    <p
      (click)="showBuilderPage = false"
      [class]="{active: !showBuilderPage}"
    >Preview</p>
  </header>
  @if (showBuilderPage) {
    <app-builder-page
      [form]="form"
    ></app-builder-page>
  } @else {
    <app-preview-page
    (formChange)="form = $event"
      [form]="form"
    ></app-preview-page>
  }
</div>