<!-- <div class="pagination">
  <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <span>{{ currentPage }} / {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div> -->

<!-- pagination.component.html -->
<div class="pagination">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
  <button *ngFor="let page of pagesArray" (click)="changePage(page)" [disabled]="currentPage === page">{{ page }}</button>
  <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
</div>

