<section>
    <header>
        @if(editTitle){
        <input type="text" class="label" [(ngModel)]="block.title.detail" (keydown)="onEditTitle($event)"
            (clickOutside)="handelOutsideClick()" (dblclick)="onEditTitle($event)" />
        } @else {
        <h1 class="label" (dblclick)="onEditTitle($event)">{{block.title.detail}}</h1>
        }
        <img src="assets/3dots.svg" (click)="toggleDropdown($event, dropdownTemplate)" alt="">
    </header>
    @for (question of block.questions; track $index) {
    <app-question [question]="question" (addQuestion)="handleAddQuestion()"
        (deleteQuestion)="handleDeleteQuestion($index)"></app-question>
    }
</section>

<ng-template #dropdownTemplate>
    <ul>
        <li>duplicate</li>
        <li>add</li>
        <li (click)="handleDeleteBlock()">delete</li>
    </ul>
</ng-template>