<div
  class="mt-[25px] flex flex-col items-center justify-center gap-y-[67px] w-full p-[48px]"
>
  <div class="flex items-start justify-between gap-x-[56px] w-full">
    <div class="flex flex-col w-[305px] gap-y-[20px]">
      <div class="flex flex-col gap-y-[8px]">
        <h4 class="text-[20px] font-[600] text-[#101928]">Update Password</h4>
        <p class="mt-[6px] text-[#667185] text-[16px] font-[400]">
          Enter your current password to make update
        </p>
      </div>
      <button
        class="py-[8px] px-[16px] rounded-[8px] w-[129px] font-[600] text-[14px] text-white flex items-center justify-center overflow-hidden"
        (click)="onSubmit()"
        [style.backgroundColor]="loader ? '#F56630' : '#D0D5DD'"
        [style.cursor]="loader ? 'pointer' : 'default'"
      >
        @if (loader) {
        <lottie-player
          src="https://lottie.host/7efa5d8e-2141-4812-911e-d4247c62f25d/qRE4ePQ0Pu.json"
          background="transparent"
          speed="1"
          loop
          autoplay
          style="width: 30px; height: 30px"
        >
        </lottie-player>
        }@else { Save Changes }
      </button>
    </div>
    <div class="flex-1">
      <form class="flex flex-col gap-y-[24px]" [formGroup]="updateUserPassword">
        <div class="flex flex-col gap-y-[4px]">
          <label>New Password</label>
          <div
            class="flex items-center gap-x-[8px] w-full border border-[#D0D5DD] p-[16px] rounded-[6px] border-default"
          >
            <img
              src="assets/USER/settings/password_Icon-left.svg"
              alt="password icon"
            />
            <input
              type="password"
              placeholder="Enter Password"
              class="w-full bg-transparent outline-none"
              formControlName="password"
            />
          </div>
        </div>
        <div class="flex flex-col gap-y-[4px]">
          <label>Comfirm Password</label>
          <div
            class="flex items-center gap-x-[8px] w-full border border-[#D0D5DD] p-[16px] rounded-[6px] border-default"
          >
            <img
              src="assets/USER/settings/password_Icon-left.svg"
              alt="password icon"
            />
            <input
              type="password"
              placeholder="Enter Password"
              class="w-full bg-transparent outline-none"
              formControlName="comfirmPassword"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
