@import "../styles/main.scss";

section {
  padding: 85px 112px;
  height: calc(100vh - 85px);
  width: 100%;
  font-family: $font-main;
}

header {
  @include flex-row;
  justify-content: space-between;
  margin-bottom: 32px;
  h1 {
    @include page-heading;
    padding: 0;
  }

  p {
    @include text-light;
  }

  button {
    @include button;
    gap: 5px;

    &:first-of-type {
      background-color: $white;
      color: $grey-900;
      border-color: $grey-300;
    }
  }
}
