input.label {
  border: none;
  font-size: 12px;
  font-weight: bold;
  display: block;
  padding: 0;
  width: auto;
}

input.label:focus {
  outline: none;
}

input[type="text"]:not(.label) {
  padding: 8px 16px;
  border-radius: 6px;
}
