<main>
    @for (template of templates; track $index) {
        <div class="card">
            <span class="img-container">
                <img [src]="template.logo.url" alt="">
            </span>
            <span class="description relative">
                <span class="flex justify-between">
                    <h3>{{template.surveyTitle.title.titleName}}</h3>
                    <img class="cursor-pointer" 
                        (click)="toggleDropdown($event, $index)"
                        src="assets/Admin/3-dots.svg" alt=""
                    >
                </span>
                <p>{{template.surveyTitle.description.detail}}</p>
                <ul [class]="{
                    dropdown: true,
                    show: showDropDown[$index]
                    }"
                    (clickOutside)="showDropDown[$index] = false"
                >
                    <li class="mb-2" (click)="delete.emit()">Delete</li>
                    <li (click)="deactivate.emit()">Deactivate</li>
                </ul>
            </span>
        </div>
    }
</main>