.custom-dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
}

.selected-option {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 130px;
  
  
}

.options {
    width: 150px;
    margin-top: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  background: #fff;
  z-index: 1;
}

.options div {
  padding: 10px;
  cursor: pointer;
}

.options div:hover {
  background: #f0f0f0;
}
